<li id="comment-<%= comment._id %>">
    <p>
        <% if(locals.user && locals.user.id == comment.user.id) { %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id%>" ><bold style="color: red;">X</bold></a>
            </small> 
            <% } %>  
        Comment -
        <%= comment.content %>
        <br>
        <small> 
            <%= comment.user.name%>
        </small>
    </p>
   </li>